#container {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}

#container #summaries {
    border: 1px solid #000000;
    width: 300px;
    background-color: rgb(184, 236, 236);
    border-radius: 3px;
    flex-grow: 1;
    cursor: pointer;
}

#container a {
    text-decoration: none;
}